{% extends "layouts/main.html" %}
{% import 'macros/pagination.html' as macros %}

{% set  title = "Счета" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-2">
            <a href="{{ url_for('b_acc.add_account') }}">
                <button type="button" class="btn btn-info">Добавить</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Название</th>
                <th>Состояние счета</th>
                <th>Операции</th>
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{% if item.amount %}{{ item.amount }}{% else %}0{% endif %}</td>
                    <td>
                        <a href="{{ url_for('b_acc.view_account', account_id=item.id) }}">
                            <button type="button" class="btn btn-info">Просмотр</button>
                        </a>
                        <a href="{{ url_for('b_acc.del_account', account_id=item.id) }}">
                            <button type="button" class="btn btn-danger">Закрыть</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.accounts") }}
</div>
{% endblock %}