{% extends "layouts/main.html" %}

{% set  title = "Продажа" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.outgoing_date.label }}
                    <div class='input-group date' id='datetimepicker2'>
                        {{ form.outgoing_date(class="form-control", tabindex="1") }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                {{ form.document_id.label }}
                <div class="form-group">
                    {{ form.document_id(class="form-control select2", tabindex="2") }}
                </div>
                {{ form.account_id.label }}
                <div class="form-group">
                    {{ form.account_id(class="form-control select2", tabindex="3") }}
                </div>
                {{ form.nomenclature_id.label }}
                <div class="form-group">
                    {{ form.nomenclature_id(class="form-control select2", tabindex="4") }}
                </div>
                {{ form.attribute_id.label }}
                <div class="form-group">
                    {{ form.attribute_id(class="form-control select2", tabindex="5") }}
                </div>
                {{ form.outgoing_price.label }}
                <div class="form-group">
                    {{ form.outgoing_price(class="form-control", tabindex="6") }}
                </div>
                {{ form.submit(class="btn btn-default", tabindex="7") }}
            </form>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function () {
        $('#nomenclature_id').select2().on('change', function() {get_price('http://127.0.0.1:5000/b_acc/price/get') })
        $('#attribute_id').select2().on('change', function() {get_price('http://127.0.0.1:5000/b_acc/price/get') })
    })
</script>
{% endblock %}
