{% extends "layouts/main.html" %}

{% set  title = "Новая поставка товара" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {{ form.csrf_token }}
                {{ form.incoming_date.label }}
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        {{ form.incoming_date(class="form-control") }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                {{ form.document_id.label }}
                <div class="form-group">
                    {{ form.document_id(class="form-control select2") }}
                </div>
                {{ form.account_id.label }}
                <div class="form-group">
                    {{ form.account_id(class="form-control select2") }}
                </div>
                {{ form.submit(class="btn btn-default") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}