{% extends "layouts/main.html" %}

{% set  title = "Продажа" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.outgoing_date.label }}
                    <div class='input-group date' id='datetimepicker2'>
                        {{ form.outgoing_date(class="form-control") }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker2').datetimepicker({
                            locale: 'ru',
                            format: 'YYYY-MM-DD HH:mm:ss'
                        });
                    });
                </script>
                {{ form.document_id.label }}
                <div class="form-group">
                    {{ form.document_id(class="form-control") }}
                </div>
                {{ form.account_id.label }}
                <div class="form-group">
                    {{ form.account_id(class="form-control") }}
                </div>
                {{ form.nomenclature_id.label }}
                <div class="form-group">
                    {{ form.nomenclature_id(class="form-control") }}
                </div>
                {{ form.attribute_id.label }}
                <div class="form-group">
                    {{ form.attribute_id(class="form-control") }}
                </div>
                {{ form.outgoing_price.label }}
                <div class="form-group">
                    {{ form.outgoing_price(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-default") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}