{% extends "layouts/main.html" %}
{% import 'macros/pagination.html' as macros %}

{% set  title = "Аттрибуты" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-2">
            <a href="{{ url_for('b_acc.add_attribute') }}">
                <button type="button" class="btn btn-info">Добавить</button>
            </a>
        </div>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.attributes") }}
    <div class="row">
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Название</th>
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.attributes") }}
</div>
{% endblock %}