{% extends "layouts/main.html" %}

{% set  title = "Скидки" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-2">
            <a href="/b_acc/discounts/add">
                <button type="button" class="btn btn-info">Добавить</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Сумма</th>
                <th>Тип скидки</th>
            </thead>
            <tbody>
            {% for discount in discounts %}
                <tr>
                    <td>{{ discount.amount }}</td>
                    <td>{{ discount.type }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}