{% extends "layouts/main.html" %}
{% import 'macros/pagination.html' as macros %}

{% set  title = "Приход товара" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-2">
            <a href="{{ url_for('b_acc.add_incoming') }}">
                <button type="button" class="btn btn-info">Добавить</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Дата прихода</th>
                <th>Документ</th>
                <th>Сумма поступления</th>
                <th>Операции</th>
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr>
                    <td>{{ item.incoming_date }}</td>
                    <td>{{ item.name }}</td>
                    <td>{% if item.sum %}{{ item.sum }}{% else %}0{% endif %}</td>
                    <td>
                        <a href="{{ url_for('b_acc.view_incoming', incoming_id=item.id) }}">
                            <button type="button" class="btn btn-info">Редактировать</button>
                        </a>
                        <a href="{{ url_for('b_acc.del_incoming', incoming_id=item.id) }}">
                            <button type="button" class="btn btn-danger">Удалить</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.incomings") }}
</div>
{% endblock %}