{% extends "layouts/main.html" %}

{% set  title = "Поступление средств (Инвестиции)" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.account_id.label }}
                    {{ form.account_id(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.document_id.label }}
                    {{ form.document_id(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.amount.label }}
                    {{ form.amount(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-default") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}