{% extends "layouts/main.html" %}

{% set  title = "Продажи" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-2">
            <a href="/b_acc/sale/add">
                <button type="button" class="btn btn-info">Добавить продажу</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Дата продажи</th>
                <th>Товар</th>
                <th>Аттрибут</th>
                <th>Цена продажи</th>
                <th>Выгода</th>
            </thead>
            <tbody>
            {% for sale in sales %}
                <tr>
                    <td>{{ sale.outgoing_date }}</td>
                    <td>{{ sale.nomenclature.internal_code }} - {{ sale.nomenclature.name }}</td>
                    <td>{{ sale.attribute.name }}</td>
                    <td>{{ sale.outgoing_price }}</td>
                    <td>{{ sale.outgoing_price - sale.incoming_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}