{% extends "layouts/main.html" %}
{% import 'macros/pagination.html' as macros %}

{% set  title = "Продажи" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-2">
            <a href="{{ url_for('b_acc.sale_add') }}">
                <button type="button" class="btn btn-info">Добавить продажу</button>
            </a>
        </div>
    </div>
    <br/>
    <div class="row">
        <fieldset>
        <legend>Фильтр</legend>
        <form method="GET">
            <div class="col-md-2">
                {{ form.from_date.label }}
                <div class='input-group date datetimepicker1'>
                    {{ form.from_date(class="form-control") }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                {{ form.to_date.label }}
                <div class='input-group date datetimepicker1'>
                    {{ form.to_date(class="form-control") }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                {{ form.nomenclature_id.label }}
                <div class='input-group date'>
                    {{ form.nomenclature_id(class="form-control") }}
                </div>
            </div>
            <div class="col-md-2">
                {{ form.attribute_id.label }}
                <div class='input-group date'>
                    {{ form.attribute_id(class="form-control") }}
                </div>
            </div>
            <div class="col-md-2" style="top: 25px">
                {{ form.submit(class="btn btn-default") }}
            </div>
        </form>
        </fieldset>
    </div>
    {% if sum %}
    <div class="row">
        <h2> Продажи на сумму: {{ sum }}</h2>
    </div>
    {% endif %}
    {{ macros.render_pagination(pagination, "b_acc.sales", {'from_date': form.from_date.data, 'to_date': form.to_date.data}) }}
    <div class="row">
        <table class="table">
            <thead>
                <th>Дата продажи</th>
                <th>Товар</th>
                <th>Аттрибут</th>
                <th>Цена продажи</th>
                <th>Выгода</th>
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr>
                    <td>{{ item.outgoing_date }}</td>
                    <td>{{ item.nomenclature.internal_code }} - {{ item.nomenclature.name }}</td>
                    <td>{{ item.attribute.name }}</td>
                    <td>{{ item.outgoing_price }}</td>
                    <td>{{ item.outgoing_price - item.incoming_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.sales", {'from_date': form.from_date.data, 'to_date': form.to_date.data}) }}
</div>
{% endblock %}