{% extends "layouts/main.html" %}
{% import 'macros/pagination.html' as macros %}

{% set  title = "Склад" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <table class="table">
            <thead>
                <th>Внутренний код</th>
                <th>Название</th>
                <th>Кол-во</th>
                <th>Операции</th>
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr>
                    <td>{{ item.internal_code }}</td>
                    <td>{{ item.nom_name }}</td>
                    <td>{{ item.counts }}</td>
                    <td>
                        <a href="{{ url_for('b_acc.storage_attributes', nomenclature_id=item.nomenclature_id) }}">
                            <button type="button" class="btn btn-danger">Аттрибуты и цены</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.storage") }}
</div>
{% endblock %}