{% extends "layouts/main.html" %}
{% import 'macros/pagination.html' as macros %}

{% set  title = "Склад" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <table class="table">
            <thead>
                <th>Аттрибут</th>
                <th>Цена поступления</th>
                <th>Кол-во</th>
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr>
                    <td>{{ item.attr_name }}</td>
                    <td>{{ item.incoming_price }}</td>
                    <td>{{ item.counts }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.storage_attributes", {'nomenclature_id': nomenclature.id}) }}
</div>
{% endblock %}