{% extends "layouts/main.html" %}
{% import 'macros/pagination.html' as macros %}

{% set  title = "Приход товара" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <b>Приход от {{ incoming.incoming_date }} на основании документа {{ incoming.document.name }}</b>
        <br/>
        <br/>
    </div>
    {% if not incoming.paid %}
    <div class="row">
        <div class="col-md-2">
            <a href="{{ url_for('b_acc.view_incoming_append', incoming_id=incoming.id) }}">
                <button type="button" class="btn btn-info" tabindex="1">Добавить</button>
            </a>
        </div>
    </div>
    {% endif %}
    {{ macros.render_pagination(pagination, "b_acc.view_incoming", {'incoming_id': incoming.id}) }}
    <div class="row">
        <table class="table">
            <thead>
                <th>Номенклатура</th>
                <th>Атрибут</th>
                <th>Цена закупки</th>
                {% if not incoming.paid %}
                <th>Операции</th>
                {% endif %}
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr>
                    <td>{{ item.nomenclature.internal_code }} - {{ item.nomenclature.name }}</td>
                    <td>{{ item.attribute.name }}</td>
                    <td>{{ item.incoming_price }}</td>
                    {% if not incoming.paid %}
                    <td>
                        <a href="{{ url_for('b_acc.edit_incoming_item', incoming_id=incoming.id, item_id=item.id) }}">
                            <button type="button" class="btn btn-info">Редактировать</button>
                        </a>
                        <a href="{{ url_for('b_acc.del_incoming_item', incoming_id=incoming.id, item_id=item.id) }}">
                            <button type="button" class="btn btn-danger">Удалить</button>
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.view_incoming", {'incoming_id': incoming.id}) }}
</div>
{% endblock %}