{% extends "layouts/main.html" %}

{% set  title = "Приход товара" %}
{% block body %}
<div class="base-template">
    <div class="row">
        <div class="col-md-2">
            <a href="/b_acc/incoming/{{ incoming.id }}/add">
                <button type="button" class="btn btn-info">Добавить</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>ID номенклатуры</th>
                <th>Атрибут</th>
                <th>Операции</th>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.nomenclature.internal_code }}</td>
                    <td>{{ item.attribute.name }}</td>
                    <td>
                        <a href="/b_acc/incoming/{{ incoming.id }}/{{ item.id }}/edit ">
                            <button type="button" class="btn btn-info">Редактировать</button>
                        </a>
                        <a href="/b_acc/incoming/{{ incoming.id }}/{{ item.id }}/del ">
                            <button type="button" class="btn btn-info">Удалить</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}