{% extends "layouts/main.html" %}
{% import 'macros/pagination.html' as macros %}

{% set title = "Просмотр счета" %}
{% set actions = { 'incoming': 'Поступления', 'outgoing': 'Расходы' } %}
{% block body %}
<div class="base-template">
    <div class="row">
        {% if account.actived == 0 %}<h1 class="text-danger">СЧЕТ ЗАКРЫТ</h1>{% endif %}
        <h3>Движения денежных средств по счету <span class="text-success">{{ account.name }}</span></h3>
        <h3>состояние счету: <span class="{% if account.amount > 0 %}text-success{% else %}text-danger{% endif %}">{{account.amount}}</span></h3>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.view_account", {'account_id': account.account_id}) }}
    <div class="row">
        <table class="table">
            <thead>
                <th>Дата операции</th>
                <th>Действие</th>
                <th>Документ</th>
                <th>Товар/Поступление</th>
                <th>Сумма</th>
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr>
                    <td>{{ item.datetime }}</td>
                    <td>{{ actions[item.action_type] }}</td>
                    <td>{{ item.document.name }}</td>
                    <td>{% if item.goods %}Товар {{ item.goods.nomenclature.internal_code }} - {{ item.goods.nomenclature.name }}
                        {% elif item.incoming %}Поступление от {{ item.incoming.incoming_date }}{%else%}-{% endif %}</td>
                    <td>{{ item.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ macros.render_pagination(pagination, "b_acc.view_account", {'account_id': account.account_id}) }}
</div>
{% endblock %}